<div *ngIf="status === Status.LOADING">
    <app-rounded-spinner [center]="true"></app-rounded-spinner>
</div>

<app-error-card [isVisible]="status === Status.ERROR" />

<div @enterAnimation *ngIf="status === Status.SUCCESS && project" class="space-y-8 md:space-y-10 mb-16 mt-16 md:mt-10">
    <h1 class="header text-center p-4 md:pt-14">{{project.name}}</h1>
    <div class="mx-4 md:mx-16 lg:mx-32 flex justify-center" *ngIf="project.image">
        <img class="w-full rounded-xl aspect-video border border-black" src="{{project.image}}" alt="">
    </div>
    <div class="flex flex-col justify-center mx-4 md:mx-32 lg:mx-64 xl:mx-96 space-y-2 md:space-y-4 lg:space-y-6">
        <h2 class="sub-header">Overview</h2>
        <p class="summary">
            {{project.description}}
        </p>
    </div>
    <div *ngIf="project.features !== null && project.features.length > 0" class="flex flex-col justify-center space-y-2 md:space-y-4 lg:space-y-6">
        <div class="mx-4 md:mx-32 lg:mx-64 xl:mx-96 space-y-8">
            <h2 class="sub-header">Features</h2>
        </div>
        <div *ngFor="let feature of project.features" class="mx-4 flex justify-center flex-wrap">
            <div class="bg-white text-black rounded-xl text-center flex flex-col items-center w-96 space-y-2 my-4 mx-2 py-6 px-2 border border-black">
                <img *ngIf="feature.image" class="w-full" src="{{feature.image}}" alt="Feature image">
                <h2 class="font-extrabold text-base sm:text-lg">{{feature.name}}</h2>
                <h2 class="line-clamp-3 text-sm sm:text-base">{{feature.description}}</h2>
            </div>
        </div>
    </div>
    <div *ngIf="project.githubUrl && project.hostUrl" class="flex flex-col justify-center space-y-2 md:space-y-4 lg:space-y-6">
        <div class="mx-4 md:mx-32 lg:mx-64 xl:mx-96 space-y-8">
            <h2 class="sub-header">Reference</h2>
            <p class="summary">
                Please, have a look at the following links.
            </p>
        </div>
        <div class="flex justify-center items-center space-x-4">
            <a *ngIf="project.githubUrl" class="relative icon-button" target="_blank" href="{{project.githubUrl}}">
                <fa-icon class="text-4xl md:text-5xl lg:text-6xl" [icon]="this.faGithub" title="Github"></fa-icon>
            </a>
            <a *ngIf="project.hostUrl" class="relative icon-button" target="_blank" href="{{project.hostUrl}}">
                <fa-icon class="text-4xl md:text-5xl lg:text-6xl" [icon]="this.faGlobe" title="Hosting"></fa-icon>
            </a>
        </div>
    </div>
    <div *ngIf="project.nextProjectLink" class="flex justify-center pt-12">
        <a class="next-link" routerLink="{{project.nextProjectLink.route}}">{{project.nextProjectLink.label}}</a>
    </div>
</div>
