<footer class="px-6 md:px-32 lg:px-48 flex flex-col md:flex-row gap-4 md:justify-between mb-20">
    <div class="text-lg text-center">
        <span>©️ 2024 Abhijit Unavane
        <span style="color: #406882;">•</span>
        India</span>
    </div>
    <div class="flex justify-between gap-10 text-lg">
        <div>
            <div class="footer-menu-header">Elsewhere</div>
            <ul>
                <li *ngFor="let link of elseWhere"><a href="{{link.route}}" target="_blank">{{link.label}}</a></li>
            </ul>
        </div>
        <div>
            <div class="footer-menu-header">Contact</div>
            <ul>
                <li *ngFor="let link of contact"><a href="{{link.route}}" target="_blank">{{link.label}}</a></li>
            </ul>
        </div>
    </div>
</footer>