.footer-menu-header {
    @apply mb-4 font-bold;
    color: #B1D0E0;
}

ul {
    @apply flex flex-col space-y-3;
}

@keyframes color-on-hover {
    from {
        color: white;
    }

    to {
        color: #B1D0E0;
    }
}

ul > li:hover {
    color: #B1D0E0;
    animation: color-on-hover 250ms;
}