<footer class="p-6 md:px-32 lg:px-48 flex flex-col md:flex-row gap-4 md:justify-between border-t border-black">
    <div class="text-lg text-center">
        <span>©️ 2024 Abhijit Unavane
        <span>•</span>
        India</span>
    </div>
    <ul class="flex flex-row flex-wrap justify-center items-center text-lg gap-5 font-extrabold">
        <li *ngFor="let link of links">
            <a href="{{link.route}}" target="_blank">
                <fa-icon [title]="link.type" [icon]="getLinkIcon(link.type)" size="xl"></fa-icon>
            </a>
        </li>
    </ul>
</footer>