<nav class="flex justify-center fixed top-2 w-full left-0.5 z-40">
    <div (click)="menuClickListener()" 
        role="menu"
        (keyup)="menuClickListener()"
        tabindex="0"
        class="hamburger
               cursor-pointer flex flex-col space-y-1 p-2
             bg-black bg-opacity-30 backdrop-blur-lg
               hover:ring hover:ring-white
               rounded-xl
               md:hidden
               transition-all duration-300 example-btn"
        [ngClass]="!shouldShowMenu ? '' : 'animate'">
        <span class="w-10 bg-white p-1 transition-all duration-200" *ngFor="let _ of [1, 2, 3]"></span>
    </div>
    <ul [ngClass]="shouldHighlightNavbar ? 'bg-primary bg-opacity-65 backdrop-blur-lg border' : ''"
        class="navs border-[rgba(255,_255,_255,_0.3)] hidden md:flex rounded-full p-3 relative">
        <li *ngFor="let nav of navs" routerLinkActive="active">
            <a class="py-2 px-4 rounded-3xl font-medium text-lg flex items-center transition-all duration-300 hover:scale-110" 
               routerLink={{nav.route}}>
                <span>{{nav.label}}</span>
                <span class="flex justify-center items-center 
                             rounded
                             ms-2 w-5 h-5
                             text-xxs
                             border-2 border-opacity-60 border-tertiary
                             hover:bg-red-500"
                      *ngIf="nav.label === 'Work'"
                      > /
                </span>
            </a>
        </li>
        <li class="slide 
                   m-0 h-[44px] py-2 px-4 
                   rounded-3xl
                   absolute top-1/2 -translate-y-1/2 left-0
                   bg-black opacity-0
                   -z-10
                   transition-all duration-200"></li>
    </ul>
    <div [@openClose]="shouldShowMenu ? 'open' : 'closed'" 
    class="absolute top-20 
           rounded-2xl
         bg-black bg-opacity-50 backdrop-blur-lg
           flex justify-center
           transition-all duration-200">
        <ul class="nav-menu flex flex-col space-y-4 p-4 relative">
            <li *ngFor="let nav of navs"
                routerLinkActive="active"
                class="hover:bg-white hover:text-black hover:bg-opacity-50 hover:rounded-full hover:transition-all hover:duration-200">
                <a (click)="closeMenu()" class="py-2 px-4 rounded-3xl font-medium text-lg flex items-center justify-center" routerLink={{nav.route}}>
                    <span>{{nav.label}}</span>
                </a>
            </li>
            <li class="slide-menu 
                       h-[44px] w-[148px] py-2 px-4 
                       rounded-3xl 
                       absolute top-0 left-1/2 -translate-x-1/2
                       bg-white opacity-0
                       -z-10
                       transition-all duration-200"></li>
        </ul>
    </div>
</nav>
<app-search-work />
