<div class="mt-16 md:mt-10 mb-16 space-y-10 flex flex-col items-center">
    <div class="text-center p-4 md:p-14 space-y-10">
        <div class="header flex flex-col">
            <span>Hi. I'm Abhijit.</span>
            <span>A software developer.</span>
        </div>
        <p class="summary">I'm passionate about creating softwares that are engaging and user centric.</p>
    </div>
    <app-square-spinner [isLoading]="isLoading"></app-square-spinner>  
    <div class="projects-container">
        <a *ngFor="let work of workList; index as index"
            routerLink="{{work.link?.route}}" 
            [ngStyle]="{'background-color': getBgColor(index)}" 
            [ngClass]="getStyleClass(index)">
            <h2 class="project-header">{{work.name}}</h2>
            <img *ngIf="work.image" class="project-thumbnail" [src]="work.image" alt="work-image">
        </a>
    </div>
</div>
<app-toast *ngIf="error" text="Something went wrong!"></app-toast>
