<div class="mt-16 md:mt-10 mb-16 space-y-10">
    <div class="text-center p-4 md:p-14 space-y-10">
        <div class="header">
            <h3>Hi. I'm Abhijit.</h3>
            <h3>A software developer.</h3>
        </div>
        <p class="text-lg">I'm passionate about creating softwares that are engaging and user centric.</p>
    </div>
    <div class="projects-container">
        <div class="bg-tertiary overflow-clip rounded-4xl pl-16 pt-8 space-y-4 col-span-full md:col-span-8">
            <h2 class="text-2xl text-right pr-5">React Movies Pedia</h2>
            <img class="h-60 md:h-102 object-cover rounded-tl-xl" src="../../../assets/react-movies-pedia.png" alt="react-movies-pedia">
        </div>
        <div class="bg-tertiary overflow-clip rounded-4xl pl-16 pt-8 space-y-4 col-span-full md:col-start-10">
            <h2 class="text-2xl text-right pr-5">React Movies Pedia</h2>
            <img class="h-60 md:h-102 object-cover rounded-tl-xl" src="../../../assets/react-movies-pedia.png" alt="react-movies-pedia">
        </div>
        <div class="bg-tertiary overflow-clip rounded-4xl pl-16 pt-8 space-y-4 col-span-full md:col-span-16">
            <h2 class="text-2xl text-right pr-5">React Movies Pedia</h2>
            <img class="h-60 md:h-102 object-cover rounded-tl-xl" src="../../../assets/react-movies-pedia.png" alt="react-movies-pedia">
        </div>
        <div class="bg-tertiary overflow-clip rounded-4xl pl-16 pt-8 space-y-4 col-span-full md:col-span-8">
            <h2 class="text-2xl text-right pr-5">React Movies Pedia</h2>
            <img class="h-60 md:h-102 object-cover rounded-tl-xl" src="../../../assets/react-movies-pedia.png" alt="react-movies-pedia">
        </div>
    </div>
</div>
