.projects-container {
    @apply
    mx-4 md:mx-8
    gap-x-8
    gap-y-10 md:gap-y-32
    grid grid-cols-12 md:grid-cols-24;
}

.projects-container > div {
    transition: transform 500ms ease-in-out;
    @apply h-80 md:h-102 lg:h-110 overflow-hidden cursor-pointer overflow-clip rounded-4xl pl-10 md:pl-16 pt-8 space-y-4 md:space-y-8;
}

.projects-container > div:hover {
    @apply md:-translate-y-2;
}

.projects-container > div:hover > .project-thumbnail {
    @apply md:translate-y-6;
}

.project-header {
    @apply text-2xl md:text-4xl font-semibold text-opacity-80 text-black text-right pr-16;
}

.project-thumbnail {
    transition: transform 500ms ease-in-out;
    max-width: inherit;
    width: 1200px;
    @apply rounded-tl-xl;
}
