<div *ngIf="isLoading" class=" h-screen"></div>

<div @enterAnimation *ngIf="domain" class="space-y-10 mb-16">
    <app-share-modal
        [selectedProject]="selectedProject"
        [sharingText]="getSharingText()"
        [sharingUrl]="getProjectUrl(domain.id, selectedProject?.id)"
        (toggleModal)="toggleShareModal(null)"
        (updateSharesCount)="updateSharesCount(selectedProject)">
    </app-share-modal>

    <h1 class="header text-center p-4 md:p-14">{{domain.name}}</h1>
    <div *ngIf="domain.image" class="mx-4 md:mx-16 lg:mx-32">
        <img class="w-full rounded-xl" [src]="domain.image" alt="">
    </div>
    <div *ngIf="domain.overview" class="flex flex-col justify-center mx-4 md:mx-32 lg:mx-64 xl:mx-96 space-y-8">
        <h2 class="sub-header">Overview</h2>
        <p class="summary">
            {{domain.overview}}
        </p>
    </div>
    <div *ngIf="domain.projectList !== null && domain.projectList.length > 0"
        class="flex flex-col justify-center mx-4 md:mx-32 lg:mx-64 xl:mx-96 space-y-8">
        <div class="flex space-x-4">
            <h2 class="sub-header">Projects</h2>
            <div class="relative badge">
                <span>{{domain.projectList.length}}</span>
                <app-tooltip toolTipContent="Total projects"></app-tooltip>
            </div>
        </div>
        <p class="summary">
            {{domain.projectDescription}}
        </p>
    </div>
    <div *ngIf="domain.projectList && domain.projectList.length > 0" 
        [ngClass]="domain.projectList.length === 1 ? 'grid-cols-1' : 'lg:grid-cols-2'" 
        class="grid gap-8 mx-4 md:mx-16 lg:mx-32">
        <div *ngFor="let project of domain.projectList" 
            class="text-black h-full flex flex-col rounded-xl overflow-clip">
            <ng-container *ngIf="project.image;  then image; else defaultImage"></ng-container>
        
            <ng-template #defaultImage>
                <div class="flex flex-grow justify-center items-center" style="background-color: #D3D5D7;">
                    <a [routerLink]="getProjectUrl(project.domainId, project.id)">
                        <img src="../../../../assets/no-image.svg" class="w-40" alt="No image">
                    </a>
                </div>
            </ng-template>
        
            <ng-template #image>
                <a [routerLink]="getProjectUrl(project.domainId, project.id)">
                    <img *ngIf="project.image" src="{{project.image}}" alt="project-image" class="w-full">
                </a>
            </ng-template>
            
            
            <div class="bg-white pt-6 px-6 text-2xl font-semibold uppercase">    
                <a [routerLink]="getProjectUrl(project.domainId, project.id)" class="hover:underline hover:text-sky-600">
                    {{project.name}}
                </a>
            </div>
            <div class=" bg-white pt-2 px-6 text-xl line-clamp-2">
                {{project.description}}
            </div>
            <div class="bg-white pt-3 px-6 pb-4 flex justify-between">
                <div class="flex space-x-2">
                    <button class="relative icon-button flex" (click)="onLike(project)" clickable>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24">
                            <path [ngClass]="this.project.likes >= 0 && isProjectLiked(project)
                                ? 'fill-red-500 stroke-red-500'
                                : 'fill-none stroke-black'"
                                class="stroke-2"
                                d="M12,8,10.7,6.8a4.7,4.7,0,0,0-6.4,0,4.7,4.7,0,0,0,0,6.4L12,21l7.7-7.8a4.7,4.7,0,0,0,0-6.4,4.7,4.7,0,0,0-6.4,0Z" />
                        </svg>
                        <div *ngIf="this.project.likes > 0"
                            [ngClass]="isProjectLiked(project) ? 'text-red-500' : 'text-black'"
                            class="text-base ms-2 font-semibold">
                            {{project.likes}}
                        </div>
                        <app-tooltip [toolTipContent]="!isProjectLiked(project) ? 'Like' : 'Unlike'"></app-tooltip>
                    </button>
                    <button class="relative icon-button flex" 
                        (click)="onShare(project)"
                        (keyup)="onShare(project)"
                        role="alertdialog"
                        tabindex="0"
                        clickable>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24">
                            <circle class="stroke-2 fill-none" [ngClass]="isProjectShared(project) ? 'stroke-green-600': 'stroke-black'" cx="18.5" cy="5" r="3.5" />
                            <circle class="stroke-2 fill-none" [ngClass]="isProjectShared(project) ? 'stroke-green-600': 'stroke-black'" cx="18.5" cy="19" r="3.5" />
                            <circle class="stroke-2 fill-none" [ngClass]="isProjectShared(project) ? 'stroke-green-600': 'stroke-black'" cx="5.5" cy="12" r="3.5" />
                            <line class="stroke-2 fill-none" [ngClass]="isProjectShared(project) ? 'stroke-green-600': 'stroke-black'" x1="8.58" y1="13.66" x2="15.42" y2="17.34" />
                            <line class="stroke-2 fill-none" [ngClass]="isProjectShared(project) ? 'stroke-green-600': 'stroke-black'" x1="15.42" y1="6.66" x2="8.58" y2="10.34" />
                        </svg>
                        <div *ngIf="project.shares > 0"
                            [ngClass]="isProjectShared(project) ? 'text-green-600' : 'text-black'" 
                            class="text-base ms-2 font-semibold">{{project.shares}}</div>
                        <app-tooltip [toolTipContent]="!isProjectShared(project) ? 'Share' : 'Unshare'"></app-tooltip>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-center pt-12">
        <a class="next-link" routerLink="{{domain.next?.route}}">{{domain.next?.label}}</a>
    </div>
</div>
