<div *ngIf="status === Status.LOADING">
    <app-rounded-spinner [center]="true"></app-rounded-spinner>
</div>

<app-error-card [isVisible]="status === Status.ERROR" />

<div @enterAnimation *ngIf="status === Status.SUCCESS && photosByCategory && photosByCategory.length > 0"
     class="mb-16">
    <app-photography-details-dialog 
        [selectedPhoto]="selectedPhoto"
        (togglePhotoDialog)="togglePhotoDialog(null)">
    </app-photography-details-dialog>

    <div class="flex justify-center mt-16 md:mt-10">
        <h1 class="header p-4 md:p-14">{{photosByCategory[0].category}}</h1>
    </div>

    <div class="mt-16 grid gap-1 md:gap-2 lg:gap-4 grid-cols-2 md:grid-cols-3 px-4 md:px-24 lg:px-40">
        <div *ngFor="let photo of photosByCategory" 
            class="cursor-pointer" 
            (keypress)="togglePhotoDialog(photo)"
            (click)="togglePhotoDialog(photo)"
            role="alertdialog"
            tabindex="0">
            <div class="photo-container">
                <div class="overlay invisible z-10 absolute w-full h-full bg-cover bg-black bg-opacity-10"></div>
                <div class="absolute bottom-0 w-full h-2/3 md:h-1/2 bg-cover from-transparent via-95% via-black to-black"></div>
                <img class="photo" [src]="photo.image" alt="Photo">
            </div>
        </div>
    </div>
    <div *ngIf="nextCategory" class="flex justify-center mt-12">
        <a class="next-link" [routerLink]="getCategoryRoute(nextCategory)">{{nextCategory}}</a>
    </div>
</div>