<div *ngIf="photos" class="my-16 grid gap-1 md:gap-2 lg:gap-4 grid-cols-3 px-4 md:px-24 lg:px-40">
    <div *ngFor="let photo of photos" class="cursor-pointer" (click)="togglePhotoDialog(photo)">
        <div class="photo-container">
            <!-- <div class="overlay"> -->
                <!-- <div class="absolute top-2 right-2 p-1 bg-white bg-opacity-60 icon-button-white hover:bg-opacity-80">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 fill-black">
                        <polyline points="21 10 21 3 14 3" fill="none" stroke="#000" stroke-miterlimit="10" />
                        <line x1="21" y1="3" x2="14" y2="10" fill="none" stroke="#000" stroke-miterlimit="10" />
                        <polyline points="3 14 3 21 10 21" fill="none" stroke="#000" stroke-miterlimit="10" />
                        <line x1="3" y1="21" x2="9.5" y2="14.5" fill="none" stroke="#000" stroke-miterlimit="10" />
                    </svg>
                    <app-tooltip toolTipContent="View details"></app-tooltip> -->
                <!-- </div> -->
            <!-- </div> -->
            <div class="absolute photo-item">
                <div class="overlay"></div>
                <div class="absolute z-20 bottom-2 bg-black px-5 py-2 rounded-r-full">
                    <h2 class="text-3xl font-bold">{{photo.title}}</h2>
                    <h3 class="text-xl font-medium">{{photo.description}}</h3>
                </div>
            </div>
            <img class="photo" [src]="photo.imageUrl" alt="Photo">
        </div>
    </div>
</div>