<!-- Photo Dialog -->
<!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events -->
<div *ngIf="selectedPhoto"
    class="fixed z-50 w-full h-full top-0 bottom-0 left-0 right-0 backdrop-blur-lg bg-black bg-opacity-40 text-white"
    (click)="onTogglePhotoDialog(null)"
    role="region"
    tabindex="0">
    <div class="w-full h-full"
        (click)="$event.stopPropagation()"
        role="none" tabindex="0">
        <div class="flex flex-col h-full">
            <div class="bg-[#222] border-b-2 border-black py-2 px-4 flex items-center justify-end gap-4">
                <button class="btn-primary" 
                        [class]="shouldDisplayInfo ? 'hover:bg-opacity-80 active:bg-opacity-90 bg-white bg-opacity-90 text-black': ''"
                        (click)="shouldDisplayInfo = !shouldDisplayInfo">
                    <fa-stack>
                        <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
                        <fa-icon [icon]="faInfo" stackItemSize="1x"></fa-icon>
                    </fa-stack>
                </button>
                <button (click)="onTogglePhotoDialog(null)" class="btn-primary">
                    <fa-stack>
                        <fa-icon [icon]="faXmark" stackItemSize="2x"></fa-icon>
                    </fa-stack>
                </button>
            </div>
            <div class="flex flex-col md:flex-row overflow-scroll h-full">
                <div class="flex-1 relative h-full p-4">
                     <div class="w-full h-full bg-contain bg-no-repeat bg-center" style="transform: translate3d(0px, 0px, 0px) scale(1)" [ngStyle]="{'background-image': 'url(' + selectedPhoto.image + ')'}"></div>
                </div>
                <div @slideInLeft 
                     *ngIf="shouldDisplayInfo"
                     class="flex-1 md:flex-none md:w-80 p-4 space-y-4 
                        bg-[#222] border-t-2 md:border-t-0 md:border-s-2 border-black
                        overflow-scroll">
                    <div class="space-y-2">
                        <p class="px-2 text-3xl">Info</p>
                        <hr class="border border-black rounded-md">
                    </div>
                    <div class="px-2 space-y-4 h-max">
                        <div class="space-y-2">
                            <p class="text-xs text-[#afafaf]">Title</p>
                            <p class="w-full p-2 ring-2 ring-[#393939] rounded-md bg-[#1b1b1b] font-bold">{{selectedPhoto.title}}</p>
                        </div>
                        <div class="space-y-2">
                            <p class="text-xs text-[#afafaf]">Category</p>
                            <p class="w-full p-2 ring-2 ring-[#393939] rounded-md bg-[#1b1b1b] font-bold">{{selectedPhoto.category}}</p>
                        </div>
                        <div class="space-y-2">
                            <p class="text-xs text-[#afafaf]">Description</p>
                            <textarea id="description" rows="3" readonly class="outline-none w-full p-2 ring-2 ring-[#393939] rounded-md bg-[#1b1b1b] font-bold">{{selectedPhoto.description}}</textarea>
                        </div>
                        <hr class="border border-black rounded-md">
                        <div class="">
                            <p class="text-xs mb-2 text-[#afafaf]">Link</p>
                            <a *ngIf="selectedPhoto.instagramUrl" 
                            [href]="selectedPhoto.instagramUrl"
                            target="_blank" 
                            rel="noopener noreferrer"
                            class="btn-primary flex w-min">
                                <fa-stack>
                                    <fa-icon [icon]="faInstagram" stackItemSize="2x"></fa-icon>
                                </fa-stack>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
