.loader {
   --R: 34px;
   --red: #ff3f3f 96%, #0000;
   --green: #3ffc52 96%, #0000;
   --blue: #406ffc 96%, #0000;
   --yellow: rgb(239, 245, 70) 96%, #0000;
   width: calc(2*var(--R));
   height: calc(2*var(--R));
   @apply grid rounded-full;
   -webkit-mask: linear-gradient(#000 0 0);
   animation: loader-maxc6n 1500ms infinite linear;
}

.loader::before,
.loader::after {
   content: "";
   grid-area: 1/1;
   width: 50%;
   background: 
        radial-gradient(farthest-side,var(--red)) calc(var(--R) + 0.866*var(--R) - var(--R)) calc(var(--R) - 0.5*var(--R)   - var(--R)),
        radial-gradient(farthest-side,var(--red)) calc(var(--R) + 0.866*var(--R) - var(--R)) calc(var(--R) - 0.5*var(--R)   - var(--R)),
        radial-gradient(farthest-side,var(--green)) calc(var(--R) + 0.5*var(--R)   - var(--R)) calc(var(--R) - 0.866*var(--R) - var(--R)),
        radial-gradient(farthest-side,var(--blue)) 0 calc(-1*var(--R)),
        radial-gradient(farthest-side,var(--yellow)) calc(var(--R) - 0.5*var(--R)   - var(--R)) calc(var(--R) - 0.866*var(--R) - var(--R)),
        radial-gradient(farthest-side,var(--blue)) calc(var(--R) - 0.866*var(--R) - var(--R)) calc(var(--R) - 0.5*var(--R)   - var(--R)),
        radial-gradient(farthest-side,var(--green)) calc(-1*var(--R))  0,
        radial-gradient(farthest-side,var(--red)) calc(var(--R) - 0.866*var(--R) - var(--R)) calc(var(--R) + 0.5*var(--R)   - var(--R));
   background-size: calc(2*var(--R)) calc(2*var(--R));
   background-repeat: no-repeat;
}

.loader::after {
   transform: rotate(180deg);
   transform-origin: right;
}

@keyframes loader-maxc6n {
   100% {
      transform: rotate(-1turn);
   }
}
